env
data_in/nvd.jsonl
tmp
logs
#data_out
_data_out
__data_out
data_out/cve_descriptions.json 


#BIG files via: find ./data_out -type f -size +10M
./data_out/cve_descriptions.json
./data_out/CVE-2022-45544/text/www.schlix.com_2835c3c5_20250111_020105.html
./data_out/CVE-2022-45544/refined/combined.md
./data_out/CVE-2022-45544/raw/www.schlix.com_2835c3c5_20250111_020104.html
./data_out/CVE-2023-39520/text/github.com_9c2a2837_20250111_021946.html
./data_out/CVE-2023-39520/refined/combined.md
./data_out/CVE-2023-39520/raw/github.com_9c2a2837_20250111_021934.html
./data_out/CVE-2023-44487/refined/combined.md
./data_out/CVE-2023-46116/text/user-images.githubusercontent.com_d16674e8_20250111_061926.html
./data_out/CVE-2023-46116/refined/combined.md
./data_out/CVE-2023-46116/raw/user-images.githubusercontent.com_d16674e8_20250111_061925.html
./data_out/CVE-2023-38290/raw/media.defcon.org_2c81c5d2_20250111_002753.pdf
./data_out/CVE-2023-38291/raw/media.defcon.org_2c81c5d2_20250111_030654.pdf
./data_out/CVE-2023-38292/raw/media.defcon.org_2c81c5d2_20250111_153612.pdf
./data_out/CVE-2023-38293/raw/media.defcon.org_2c81c5d2_20250111_114445.pdf
./data_out/CVE-2023-38294/raw/media.defcon.org_2c81c5d2_20250111_134003.pdf
./data_out/CVE-2023-38295/raw/media.defcon.org_2c81c5d2_20250110_121949.pdf
./data_out/CVE-2023-38296/raw/media.defcon.org_2c81c5d2_20250110_144604.pdf
./data_out/CVE-2023-38297/raw/media.defcon.org_2c81c5d2_20250110_155330.pdf
./data_out/CVE-2023-38298/raw/media.defcon.org_2c81c5d2_20250110_111911.pdf
./data_out/CVE-2023-38299/raw/media.defcon.org_2c81c5d2_20250111_185458.pdf
./data_out/CVE-2023-38300/raw/media.defcon.org_2c81c5d2_20250111_200408.pdf
./data_out/CVE-2023-38301/raw/media.defcon.org_2c81c5d2_20250111_050033.pdf
./data_out/CVE-2023-38302/raw/media.defcon.org_2c81c5d2_20250111_180201.pdf
./data_out/CVE-2024-22774/text/pancorp.com_1726c2ab_20250111_134335.html
./data_out/CVE-2024-22774/raw/pancorp.com_1726c2ab_20250111_134331.html
./data_out/CVE-2024-25742/text/cdn.kernel.org_1d1d0f12_20250110_173810.html
./data_out/CVE-2024-25742/refined/combined.md
./data_out/CVE-2024-25742/raw/cdn.kernel.org_1d1d0f12_20250110_173743.html
./data_out/CVE-2024-4395/text/github.com_dc74805f_20250110_140822.html
./data_out/CVE-2024-4395/refined/combined.md
./data_out/CVE-2024-4395/raw/github.com_dc74805f_20250110_140810.html
./data_out/CVE-2023-52340/text/cdn.kernel.org_582f898f_20250111_044318.html
./data_out/CVE-2023-52340/refined/combined.md
./data_out/CVE-2023-52340/raw/cdn.kernel.org_582f898f_20250111_044251.html
./data_out/CVE-2024-40412/text/static.tenda.com.cn_b3683e89_20250110_155219.html
./data_out/CVE-2024-40412/refined/combined.md
./data_out/CVE-2024-40412/raw/static.tenda.com.cn_b3683e89_20250110_155216.html
./data_out/CVE-2023-44487/refined/combined.md



# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# PyPI configuration file
.pypirc